{% extends 'base1.html' %}
{% block body  %}
<div class="bg-image"></div>

<div class="bg-text">
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container" style="margin-bottom:15px;">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h1 class="text-center font-weight-light my-4">Controle de Despesas Pessoais Criar Conta</h1></div>
                                    <div class="card-body">
                                        <form action="/handleSignup/" method='post'>
                                        {% csrf_token %} 
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="uname">Usuário</label>
                                                    <div class="form-group">
                                                        <input class="form-control py-4" id="uname" name="uname" type="text" placeholder="Crie um Usuário" required/>
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="form-row">
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputFirstName">Primeiro nome</label>
                                                    <div class="form-group">
                                                        <input class="form-control py-4" id="fname" name="fname" type="text" placeholder="Digite seu Primeiro nome" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputLastName">Sobre Nome</label>
                                                    <div class="form-group">
                                                        <input class="form-control py-4" id="lname" name="lname" type="text" placeholder="Entre com seu sobrenome" />
                                                    </div>
                                                </div>
                                            </div>   
                                                
                                            <label class="small mb-1" for="inputEmailAddress">Email</label>
                                            <div class="form-group">
                                                <input class="form-control py-4" id="email" name="email" type="email" aria-describedby="emailHelp" placeholder="Entre com email" required />
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputprofession">Profissão</label>
                                                    <div class="form-group">
                                                
                                                        <select name="profession" id="profession" style=" width:250px;height: 25px">
                                                            <option value="Empregado">Empregado</option>
                                                            <option value="Empresario">Empresário</option>
                                                            <option value="Estudante">Estudante</option>
                                                            <option value="Outro">Outro</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputincome">Renda</label>
                                                    <div class="form-group">
                                                        <input class="form-control py-4" id="income" name="income" type="text" placeholder="Renda" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputsavings">Poupança</label>
                                                    <div class="form-group">
                                                        <input class="form-control py-4" id="Savings"  name="Savings" type="text" placeholder="Valor a ser poupado" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputPassword">Senha</label>
                                                    <div class="form-group">
                                                        <input class="form-control py-4" id="pass1" name="pass1" type="password" placeholder="Crie sua senha" required />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputConfirmPassword">Confirme sua senha</label>
                                                    <div class="form-group">
                                                        <input class="form-control py-4" id="pass2" name="pass2" type="password" placeholder="Confirme sua senha" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class = "btn">
                                            <div class="form-group mt-4 mb-0"><button type="submit" class="btn btn-primary btn-block mt-2">Criar Usuário</button></div></div></div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="/">Já tem conta? login</a></div>
                                    </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </main>
            </div>
    </div>
    </body>
</html>
{% endblock body %}